<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Famous Business Pvt. Ltd.</title>

</head>

<body>
    <h2>Dear {{business_owner_name}},</h2>


    <body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.4;">

      <p style="font-size: 16px; color: #333; margin-bottom: 10px;">
            We trust this message finds you in good health and high spirits.
      </p>
    
      <p style="font-size: 16px; color: #333; margin-bottom: 10px;">
        We are delighted to share the exciting news that your business page is now live on Famous Business, a leading online local search service in India. This platform offers users comprehensive information about various businesses, services, and products in different cities across the country.
        
      </p>
      <p style="font-size: 16px; color: #333; margin-bottom: 10px;">
        Your business page is a powerful tool that allows you to showcase your products and services to a vast audience, engage with potential customers, and enhance your daily leads. We believe this will be a valuable asset in expanding your online presence and connecting with your target audience.
      </p>
      
      <p style="font-size: 16px; color: #333; margin-bottom: 10px;">
        In the coming days, we will provide you with all the necessary details to optimize your business page effectively. Meanwhile, kindly mark our email address as a priority to ensure that our communications reach your primary inbox.
      </p>
      <p style="font-size: 16px; color: #333; margin-bottom: 10px;">
        Thank you for choosing Famous Business to promote your business. We look forward to supporting your growth and success on our platform.
      </p>

    <div>

        <br><br>

        <div>

          <p style="font-size: 16px; color: #333; margin: 10px 0;">
            <b>Best Regards,</b><br>
            <b>Rajit Kumar Sahoo</b><br>
              <b> Business Consultant</b><br>
            <b>Famous Business Team</b><br>
            <b>Mobile No: 8249258412</b>
        </p>
      
        </div>

</body>
</html>

