{% block content %}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #D6EEEE;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }

    /* .topnav input[type=text] {
        float: right;
        padding: 6px;
        margin-top: 8px;
        margin-right: 16px;
        border: none;
        font-size: 17px;
    } */

    .topnav {
        overflow: hidden;
        background-color: #e9e9e9;
        float: right;
        padding: 6px;
        margin-top: 8px;
        margin-right: 16px;
        border: none;
        font-size: 17px;
    }

    @media screen and (max-width: 600px) {
        .topnav input[type=text] {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }
    }
</style>


<h2>All Users</h2>

<form class="d-flex" method='post'>
    {% csrf_token %}
    <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="Search"> -->
    <button class="topnav" type="submit">Search</button>
    <input type="text" name="Search" value="" class='topnav' placeholder="Search..">
</form>

<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Business Name</th>
        <th>Admin</th>
        <th>User Created Date</th>
        <th>Updated Date</th>
        <th>Edit</th>

    </tr>
   
    <form class="d-flex" method='get'>
        {% csrf_token %}
        {% for users in all_users %}
            <tr>

                <td>{{users.id }}</td>

                <td>{{users.name}}</td>

                <input type="hidden" name="user_name" value="{{ plan.user.name }}">

                <td>{{users.email}}</td>

                <td>{{users.mobile_number}}</td>

                <td>{{users.business_name}}</td>

                <td>{{users.is_staff}}</td>

                <td>{{users.created_at}}</td>

                <td>{{users.updated_at}}</td>

                <td>
                    <a href="{% url 'admin_user_update' users.id %}">Edit</a>
                </td>
            </tr>

        {% endfor %}
    </form>
</table>

    {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}


    {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}



   



{% endblock content %}